* {
    background-color: #000000;
    max-width: 480px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}





#header {
    
    width: 100%;
    height: 10svh; 
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    align-items: center;
}

#main {
    
    width: 100%;
    height: 55svh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3%;
}

#footer {
    
    width: 100%;
    height: 35svh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/*header*/

.icon-coin {
    max-height: 40%;
    max-width: 10%;
    background: none;
    position: absolute;
    left: 3%;
}



.icon-dom {
    max-height: 70%;
    max-width: 20%;
    background: none;
    margin-right: 3%;
    margin-left: 0;
    cursor: pointer;
}

.icon-rules {
    max-height: 70%;
    max-width: 20%;
    background: none;
    margin: 0;
    cursor: pointer;
}

/*main*/

.icon-noz, .icon-cam, .icon-bum {
    
    width: 46%;
    height: 46%;
    background: none;
    max-height: 130px;
    max-width: 130px;
    cursor: pointer;
}

/*footer*/

.text {
    color: white;
    font-weight: bold;
    background: none;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;

}







